/*
 * test styles
 * make the content overflow nicely
 */
#is-scrollable{
	overflow:scroll;
	width: 100px;
	height: 100px;
}

#is-scrollable p{
	width: 200px;
}


/*
 * used to calculate the px ratio
 */
#scrollbar{
	background: #999;
	border: 1px solid #aaa;
	width: 5px;
	height: 20px
}
